version: 2.1

jobs:
  test:
    docker:
      - image: cimg/ruby:3.4.6
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_TOKEN
    steps:
      - checkout
      - run:
          name: Install Ruby gems
          command: |
            gem install bundler
            bundle config set --local path 'vendor/bundle'
            bundle config set --local without pronto
            bundle check || bundle install --jobs=`nproc` --retry=3
      - run:
          name: Set up test output directory
          command: sudo install -o circleci -d ~/rspec
      - run:
          name: RSpec
          command: |
            bundle exec rspec \
              --color \
              --require spec_helper \
              --format documentation \
              --format RspecJunitFormatter \
              --out ~/rspec/rspec.xml
      - store_artifacts:
          path: ~/rspec
      - store_test_results:
          path: ~/rspec

  push_to_rubygems:
    docker:
      - image: cimg/ruby:3.4.6
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_TOKEN
    steps:
      - checkout
      - run:
          name: Create .gem/credentials file
          command: |
            mkdir ~/.gem
            echo "---
            :rubygems_api_key: $RUBYGEMS_API_KEY
            " > ~/.gem/credentials
            chmod 600 ~/.gem/credentials
      - run:
          name: Release rf-stylez
          command: |
            gem build rf-stylez
            gem push rf-stylez-*.gem

  update_jira:
    docker:
      - image: alpine:3.8
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_TOKEN
    steps:
      - run:
          name: Install dependencies
          command: apk add --no-cache bash curl git openssh
      - checkout
      - run:
          name: Update JIRA
          command: .circleci/update-jira.sh

workflows:
  version: 2
  gem_release:
    jobs:
      - test:
          context:
            - DockerHub
      - push_to_rubygems:
          filters:
            branches:
              ignore:
                - /.*/
            tags:
              only:
                - /^v.*/
          context:
            - DockerHub
            - RubyGems
      - update_jira:
          requires:
            - push_to_rubygems
          filters:
            branches:
              only:
                - master
          context:
            - DockerHub
            - update-jira-webhook
